<header class="max-w-3xl mx-auto border-b sm:flex sm:justify-between sm:items-center sm:px-4 sm:py-3">
  <div class="flex items-center justify-between px-4 py-3 sm:p-0">
    <div>
      <a href="{% url 'blog:index' %}" class="text-2xl text-green-500 font-semibold leading-none">Django Blog</a>
    </div>
    <div class="sm:hidden">
      <button id="navbar-toggle-button" type="button" class="block text-gray-600 hover:text-gray-700 focus:text-gray-700 focus:outline-none">
        <svg id="navbar-close-icon" class="hidden h-6 w-6 fill-current" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M18.278 16.864a1 1 0 0 1-1.414 1.414l-4.829-4.828-4.828 4.828a1 1 0 0 1-1.414-1.414l4.828-4.829-4.828-4.828a1 1 0 0 1 1.414-1.414l4.829 4.828 4.828-4.828a1 1 0 1 1 1.414 1.414l-4.828 4.829 4.828 4.828z"/>
        </svg>
        <svg id="navbar-open-icon" class="h-6 w-6 fill-current" viewBox="0 0 24 24">
          <path fill-rule="evenodd" d="M4 5h16a1 1 0 0 1 0 2H4a1 1 0 1 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2zm0 6h16a1 1 0 0 1 0 2H4a1 1 0 0 1 0-2z"/>
        </svg>
      </button>
    </div>
  </div>
  <nav id="navbar-nav" class="hidden sm:block">
    <div class="px-2 pt-2 pb-4 sm:flex sm:p-0">
      <a href="#" class="block px-2 py-1 font-semibold rounded hover:bg-gray-300">Home</a>
      <a href="#" class="mt-1 block px-2 py-1 font-semibold rounded hover:bg-gray-300 sm:mt-0 sm:ml-2">About</a>
      <a href="#" class="mt-1 block px-2 py-1 font-semibold rounded hover:bg-gray-300 sm:mt-0 sm:ml-2">Github</a>
      {% if user.is_authenticated %}
        <div class="hidden sm:flex">
          <span class="mt-1 px-2 py-1 font-semibold rounded sm:mt-0 sm:ml-2">Welcome:</span>
          {% include "_account_dropdown.html" %}
        </div>
      {% else %}
        <a href="{% url 'blog:login' %}" class="mt-1 block px-2 py-1 font-semibold rounded hover:bg-gray-300 sm:mt-0 sm:ml-2">Login</a>
      {% endif %}
    </div>
    {% if user.is_authenticated %}
      <div class="px-4 py-5 border-t border-gray-800 sm:hidden">
        <div class="flex items-center">
          <span class="text-gray-700">Welcome:</span>
          <span class="ml-3 font-semibold">{{ user.username }}</span>
        </div>
        <div class="mt-4">
          <a href="{% url 'blog:post_create' %}" class="block text-gray-700 hover:text-gray-900">New Post</a>
          <a href="{% url 'blog:logout' %}" class="mt-2 block text-gray-700 hover:text-gray-900">Sign out</a>
        </div>
      </div>
    {% endif %}
  </nav>
</header>


{% load static %}
<script src="{% static "js/_navbar.js" %}"></script>
