<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Django Blog | {% block title %} {% endblock title %}</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <meta name="author" content="">
  <!-- Tailwind CSS -->
  {% load static %}
  <link rel="stylesheet" href="{% static 'css/tailwind.css' %}" type="text/css" />
  {% block stylesheet %} {% endblock stylesheet %}
</head>
<body class="bg-gray-900">
  {% include "_navbar.html" %}

  {% block content %}
  {% endblock content %}

  {% block javascript %}
  {% endblock javascript %}
</body>
</html>
