{% extends "base.html" %}

{% block content %}
  <div class="mx-auto px-4 py-8 max-w-3xl">
    <form action="{% url 'blog:login' %}" method="POST" class="max-w-sm mx-auto">
      {% csrf_token %}
      <h1 class="mb-4 text-center text-2xl font-bold">Login to continue</h1>
      <div class="mb-4 flex items-center justify-between">
        <label class="mr-4" for="username">Username:</label>
        <input class="px-4 py-1 rounded border w-full focus:outline-none focus:shadow-outline" type="text" name="username" placeholder="Username">
      </div>
      {% if message %}
        <p class="text-red-500 mb-4 text-center">{{ message }}</p>
      {% endif %}
      <div class="mb-4 flex items-center justify-between">
        <label class="mr-5" for="username">Password:</label>
        <input class="px-4 py-1 rounded border w-full focus:outline-none focus:shadow-outline" type="password" name="password" placeholder="••••••••••">
      </div>
      <input class="bg-blue-500 text-white font-semibold float-right px-4 py-1 rounded hover:bg-blue-600 cursor-pointer focus:outline-none focus:shadow-outline" type="submit" value="Login">
    </form>
  </div>
{% endblock content %}
