<div class="mb-4">
  <div class="flex items-center justify-between">
    <p class="text-gray-600">
      Author: <span class="text-blue-500 font-bold">{{ comment.author }}</span>
    </p>
    {% if user.is_authenticated %}
      <div class="flex items-center">
        {% if not comment.approved %}
          <a href="{% url 'blog:comment_approve' id=comment.pk %}" class="px-4 py-1 bg-green-500 text-white font-semibold hover:bg-green-600 focus:outline-none focus:shadow-outline rounded">Approve</a>
        {% endif %}
        <a href="{% url 'blog:comment_delete' id=comment.pk %}" class="ml-2 px-4 py-1 bg-red-500 text-white font-semibold hover:bg-red-600 focus:outline-none focus:shadow-outline rounded">Delete</a>
      </div>
    {% endif %}
  </div>
  {% load markdown_extras %}
  <div class="mt-2 markdown">{{ comment.text | markdown | safe }}</div>
  <div class="mt-2 text-right">
    <p class="font-bold text-gray-600">{{ comment.created_at }}</p>
  </div>
</div>
