<div class="mb-8">
  <h1 class="text-2xl leading-tight font-bold">
    <a href="{% url 'blog:draft_detail' id=post.pk %}" class="hover:text-gray-700">{{ post.title }}</a>
  </h1>
  <p class="mt-2 text-lg text-gray-600 font-semibold"> 
    <a href="#" class="hover:text-gray-700">{{ post.subtitle }}</a>
  </p>
  <div class="mt-2 flex justify-between">
    <p class="text-gray-600">
      Author:
      <a href="#" class="text-blue-500 font-bold hover:text-blue-600">{{ post.author.username }}</a>
    </p>
    <p class="font-bold text-gray-600">
      <a href="#" class="hover:text-gray-700">{{ post.created_at }}</a>
    </p>
  </div>
</div>
