{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
  <div class="mx-auto px-4 py-8 max-w-3xl">
    <div>
      <div class="mb-8">
        <img src="{{ post.cover_image }}" alt="">
        <div class="mt-2 flex justify-between">
          <p class="text-gray-600">
            Author:
            <a href="#" class="text-blue-500 font-bold hover:text-blue-600">{{ post.author.username }}</a>
          </p>
          <p class="font-bold text-gray-600">
            {{ post.created_at }}
          </p>
        </div>
      </div>
      <div class="markdown">
        {% load markdown_extras %}
        <p>{{ post.text | markdown | safe }}</p>
      </div>
    </div>
  </div>
{% endblock content %}
