{% extends "base.html" %}

{% block title %}{{ post.title }}{% endblock title %}

{% block content %}
  <div class="mx-auto px-4 py-8 max-w-3xl">
    <div>
      <div class="mb-8">
        <h1 class="text-2xl leading-tight font-bold">{{ post.title }}</h1>
        <p class="mt-2 text-lg text-gray-600 font-semibold">{{ post.subtitle }}</p>
        <img class="mt-2 object-cover object-center" src="{{ post.cover_image }}" alt="">
        <div class="mt-2 flex justify-between">
          <p class="text-gray-600">
            Author:
            <a href="#" class="text-blue-500 font-bold hover:text-blue-600">{{ post.author.username }}</a>
          </p>
          <p class="font-bold text-gray-600">
            {{ post.created_at }}
          </p>
        </div>
        {% if user.is_authenticated %}
          <div class="flex items-center justify-between mt-2">
            <div class="flex items-center">
              <a href="{% url 'blog:post_update' id=post.pk %}" class="px-4 py-1 bg-yellow-400 font-semibold hover:bg-yellow-500 focus:outline-none focus:shadow-outline rounded">Edit</a>
              <a href="{% url 'blog:post_publish' id=post.pk %}" class="ml-2 px-4 py-1 font-semibold bg-gray-300 hover:bg-gray-400 focus:outline-none focus:shadow-outline rounded">Publish</a>
            </div>
            <a href="{% url 'blog:post_delete' id=post.pk %}" class="px-4 py-1 bg-red-500 font-semibold hover:bg-red-600 focus:outline-none focus:shadow-outline rounded">Delete</a>
          </div>
        {% endif %}
      </div>
      <div class="markdown">
        {% load markdown_extras %}
        <p>{{ post.text | markdown | safe }}</p>
      </div>
      {% if user.is_authenticated %}
        <div class="flex items-center justify-between mt-8">
          <div class="flex items-center">
            <a href="{% url 'blog:post_update' id=post.pk %}" class="px-4 py-1 bg-yellow-400 font-semibold hover:bg-yellow-500 focus:outline-none focus:shadow-outline rounded">Edit</a>
            <a href="{% url 'blog:post_publish' id=post.pk %}" class="ml-2 px-4 py-1 font-semibold bg-gray-300 hover:bg-gray-400 focus:outline-none focus:shadow-outline rounded">Publish</a>
          </div>
          <a href="{% url 'blog:post_delete' id=post.pk %}" class="px-4 py-1 bg-red-500 font-semibold hover:bg-red-600 focus:outline-none focus:shadow-outline rounded">Delete</a>
        </div>
      {% endif %}
      <div class="mt-8">
        <a href="{% url 'blog:comment_create' id=post.pk %}" class="px-4 py-2 bg-blue-500 font-semibold hover:bg-blue-600 focus:outline-none focus:shadow-outline rounded text-white">Add Comment</a>
      </div>
    </div>
  </div>
{% endblock content %}
